* {
    box-sizing: border-box;
  }
header{
    background-image: url(https://github.com/aki071880/aki071880.github.io/blob/main/%E6%B8%A9%E6%B3%89.jpeg?raw=true);
    background-size: cover;
    color: rgb(88, 82, 74);
    height: 450px;
    width: 100%;
    font-family: serif;
    text-align: center;
}
.theme{
  padding-top: 125px;
}
ul{
  list-style: none;
}
.main{
  background-color: rgb(250, 243, 235);
  padding-top: 30px;
  height:3000px;
}
.main-sub{
  display: flex;
  padding-left: 50px;
  padding-bottom: 50px;
}
.plan{
  padding-left: 40px;
  width: 30%;
}
.plan p{
  font-size: 15px;
  padding-left: 5px;
}

.hotel{
  padding-left: 40px;
  width: 30%;
}
.coupon{
  padding-left: 40px;
  width: 30%;
}
h3{
  margin: 0 20px 3px 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  opacity: 0.5;
}
.btn{
  padding: 0 20px 0 0;
  
}
.btn h4{
  display: block;
  background-color: rgb(189, 187, 187);
}
.btn h4:hover{
  cursor:pointer;
}
.plan-contents p{
  display:none;
}
