* {
    box-sizing: border-box;
  }
header{
    background-image: url(https://github.com/aki071880/aki071880.github.io/blob/main/%E6%B8%A9%E6%B3%89.jpeg?raw=true);
    background-size: cover;
    color: rgb(88, 82, 74);
    height: 450px;
    width: 100%;
    font-family: serif;
    text-align: center;
    padding-top: 170px;
}
ul{
  list-style: none;
}
.main{
  background-color: rgb(250, 243, 235);
  padding-top: 30px;
  display:flex
}
.main-sub{
  width: 33%;
}
h3{
  margin: 0 40px 3px 40px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.plan1{
  padding: 0 40px 0 40px;
}
.plan2{
  padding: 0 40px 0 40px;
}
.contents{
  height: 400px;
  padding-top: 30px;
}
.contents li{
  padding: 0 40px 0 40px;
}
.dish img{
  width:33%;
  padding-left: 500px;
  height: 180px;
}
.dya img{
  padding-left: 500px;
  width: 33%;
}
